html body #root .app {
    margin: 0;
    padding: 0;
}

a {
    border: 1px solid red;
    float: left;
    width: 100px;
    line-height: 38px;
}
.menu::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.colorcard {
    float: left;
    width: 300px;
    border: 1px solid gray;
    h3 {
        text-align: center;
    }
    .removebtn {
        float:right;
    }
    .colorshow {
        width: 90%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}
.selected {
    background-color: orange;
}